<div class="card">
    <div class="card-header">
       {{title}} <br>
       {{message}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Name Filter</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="nameFilter">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>
                        Filtered By : {{nameFilter}}
                    </h6>
                </div>
            </div>
            <div class="row"><div class="col-md-4"></div> <div class="col-md-6"> <h4>Data here is a Sample obtained from the internet</h4></div></div>
            <div class="row"></div>
            <div class="table-responsive">
               <table class="table"  *ngIf="students.length" >
                
                    <thead>
                        
                        <tr>
                            <th >
                            <button class="btn btn-primary" (click)="toggleicon()">{{showicon?"Hide":"Show"}} Avatar</button>
                            </th>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Class</th>
                            <th>Hair Color</th>
                            <th>Gender</th>
                            <th>Breast Size</th>
                            <th>PT Progress</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let student of filteredstudents">
                            <td *ngIf="student.Gender==1 && !showicon" ></td>
                            <td *ngIf="student.Gender==0 && !showicon" ></td>
                            <td *ngIf="student.Gender==1 && showicon" >🧔</td>
                            <td *ngIf="student.Gender==0 && showicon" >👩</td>
                            <td>{{student.ID}}</td>
                            <td>{{student.Name}}</td>
                            <td>{{student.Class}}</td>
                            <td>{{student.Color}}</td>
                            <!-- <td *ngIf(student.Gender.equals(1))>{{(student.Gender)}}</td> -->
                            <td *ngIf="student.Gender==1">Male</td>
                            <td *ngIf="student.Gender==0">Female</td>
                            <td *ngIf="student.Gender==1"></td>
                            <td *ngIf="student.Gender==0">{{student.BreastSize}}</td>
                            <!-- <td>{{student.RBTProgress}}</td> -->
                            <td><stu-progress-bar [progress]='student.RBTProgress'
                                (progressClick)="onmessageReceived($event)"
                                > </stu-progress-bar></td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>

</div>
